<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> <%= title %> </title>
  <%- include('partials/__head') %>
</head>
<body>

  <%- include('partials/__nav') %>  

  <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
    <section>
      <h1 class="display-1">About</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, incidunt dolorum consectetur modi suscipit adipisci aliquid reiciendis laborum repellat. Est ea officia harum nemo, voluptate sit nesciunt quisquam, explicabo mollitia dolores sunt expedita nam neque illum perferendis, obcaecati impedit! Aspernatur debitis doloremque nisi, ullam sapiente enim necessitatibus, quos vel voluptatem, similique expedita! Sed magnam accusamus quisquam culpa a quae harum! Quidem in similique porro blanditiis dolorem? Corrupti, laudantium fugit. Quisquam iure commodi inventore, molestias dolorum assumenda laboriosam nisi similique doloremque eius perspiciatis, repellendus tenetur enim sequi laborum adipisci id quam at culpa. Blanditiis, optio enim earum iusto suscipit dolor fugit cupiditate. Quae corporis dolorum et eaque numquam accusamus vel reiciendis incidunt sint nulla, temporibus earum animi voluptatem? Laborum eaque dignissimos maxime at, recusandae sed suscipit incidunt natus tempore velit ipsam veniam similique odio sapiente perferendis. Illo repellat eum, ducimus hic beatae autem reiciendis quia veritatis, libero eligendi ab at, id itaque unde error tenetur ipsa quaerat inventore possimus iure earum ipsam voluptate porro. Non sit quasi numquam, praesentium sunt maxime. Molestiae ea, molestias doloremque nisi, totam repellendus quisquam maiores alias exercitationem voluptate explicabo eligendi non velit iure temporibus. Modi delectus, accusantium perferendis eligendi ab vero dolore, necessitatibus officiis pariatur possimus excepturi perspiciatis neque. Eos dolorem ab eveniet delectus! Animi cum hic nobis minima minus deleniti sed eveniet quisquam repellat? Necessitatibus incidunt a voluptate maxime voluptatibus alias iste earum magnam dignissimos cum non eius, atque exercitationem molestiae, officiis quo voluptas harum rem consequuntur. Totam, commodi? Quae doloribus tempora ad, exercitationem atque et rem. Sunt voluptates laudantium temporibus incidunt labore consequuntur tenetur, quo ea et ipsa. Quidem dolorem praesentium quos aliquid rerum animi perspiciatis eius explicabo tempora perferendis quo omnis amet accusamus necessitatibus placeat dolor reprehenderit ad totam, quae, accusantium quis consectetur veniam quia sed. Facere sed, reiciendis ipsa dolorem architecto facilis!</p>
    </section>
  </main>

  <%- include('partials/__footer') %>

</body>
</html>